ftfy==6.3.1
ipython==8.12.3
joblib==1.4.2
matplotlib==3.9.3
numpy==2.2.0
opencv_python==4.10.0.84
pandas==2.2.3
Pillow==11.0.0
regex==2024.11.6
scikit_learn==1.5.2
scikit-image==0.24.0
scipy==1.14.1
seaborn==0.13.2
setuptools==75.1.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
tensorboard==2.18.0
